.todo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 2rem;
  width: 60%;
}

.todo-liste {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 1rem;
}

@media (max-width: 600px) {
  .todo {
    width: 100%;
    padding: 1rem;
    height: 100vh;
    gap: 1.5rem;
  }

  .todo-liste {
    gap: 0.5rem;
  }
}
