.create-todo {
  width: 100%;
  background-color: #f1f1f1;
  font-size: 1.3rem;
  border-radius: 6px;
  border: none;
  display: flex;
  justify-content: space-between;
}

.create-todo__left {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.create-todo__left-checkbox {
  margin-left: 0.5rem;
  width: 24px;
  height: 24px;
}

.todo-remove__btn {
  margin: 0.5rem;
  border: none;
  background: none;
}

.todo-remove__btn-icon {
  width: 35px;
  height: 35px;
  color: #f44336;
  transition: color 0.3s ease;
}

.todo-remove__btn-icon:hover {
  cursor: pointer;
  color: #c62828;
}

.todo-liste__text {
  font-size: 1.5rem;
  font-weight: 490;
  color: #555555;
}

@media (max-width: 600px) {
  .create-todo {
    gap: 1rem;
  }

  .create-todo__left {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  .todo-remove__btn {
    align-self: flex-end;
  }

  .todo-remove__btn-icon {
    width: 30px;
    height: 30px;
  }

  .todo-liste__text {
    font-size: 1.1rem;
    font-weight: 490;
    color: #555555;
  }
}
